{{ log this }}
<div data-actor="{{this.actor._id}}" class="brokencompass chat-card">
  <div style="display:block;">
    <h2>{{localize "BC.Sheet.Chat.Roll"}}</h2>
    {{#if this.pairsDice.length}}
      <div style="display:block;">
        <h3 style="margin: 0.5rem 0">{{localize "BC.Sheet.Chat.EqualDice"}}</h3>
        {{#each this.pairsDice}}
          <span
            style="display:inline-block; width:2rem; height: 2rem; text-align:center;line-height:2rem; border: 1px solid;border-radius: 5px ">{{ this }}</span>
        {{/each}}
      </div>
    {{/if}}

    {{#if this.restDice.length}}
      <div style="display:block;">
        <h3 style="margin: 0.5rem 0">{{localize "BC.Sheet.Chat.RestDice"}}</h3>
        {{#each this.restDice}}
          <span
            style="display:inline-block; width:2rem; height: 2rem; text-align:center;line-height:2rem; border: 1px solid;border-radius: 5px ">{{ this }}</span>
        {{/each}}
      </div>
    {{/if}}

  </div>
  <hr>
  <h2>{{localize "BC.Sheet.Chat.Successes"}}</h2>
  <div>
    {{localize "BC.Sheet.Successes.Basic"}} {{ this.successes.basic }}
  </div>
  <div>
    {{localize "BC.Sheet.Successes.Critical"}} {{ this.successes.critical }}
  </div>
  <div>
    {{localize "BC.Sheet.Successes.Extreme"}} {{ this.successes.extrem }}
  </div>
  <div>
    {{localize "BC.Sheet.Successes.Impossible"}} {{ this.successes.impossible }}
  </div>
  <hr>

  {{#if this.useExpertise}}
    <button data-action="reroll"
            data-values="{{this.restDice.length}}|{{this.pairsDice}}|{{this.rollCount}}|1">{{localize
      "BC.Sheet.Chat.IHaveExpertise"}}</button>
  {{/if}}
  {{#if this.takeARisk}}
    <button data-action="reroll"
            data-values="{{this.restDice.length}}|{{this.pairsDice}}|{{this.rollCount}}|0">{{localize
      "BC.Sheet.Chat.ReRoll"}}</button>
  {{/if}}
  {{#if this.allIn}}
    <button data-action="reroll"
            data-values="{{this.restDice.length}}|{{this.pairsDice}}|{{this.rollCount}}|0">{{localize
      "BC.Sheet.Chat.AllIn"}}</button>
  {{/if}}
</div>
