{{#*inline "valueIndicator"}}
  <div class="bc__ac__value-indicator" data-path="{{path}}">
    <span class="icon-diamond_black_down" data-value="1"></span>
    {{#greaterThan value 1}}
      <span class="icon-diamond_black_up" data-value="2"></span>
    {{else}}
      <span class="icon-diamond_white_up" data-value="2"></span>
    {{/greaterThan}}
    {{#greaterThan value 2}}
      <span class="icon-diamond_black_down" data-value="2"></span>
    {{else}}
      <span class="icon-diamond_white_down" data-value="3"></span>
    {{/greaterThan}}
  </div>
{{/inline}}

<div class="bc__ac-fields">
  <strong>{{field.label}}</strong>
  {{> valueIndicator path=field.path value=field.value}}
</div>

<section class="bc-actorsheet-skills">
  {{#each field.skills}}
    <div class="bc__ac-skills">
      <span>{{this.label}}</span>
      {{> valueIndicator path=this.path value=this.value}}
    </div>
  {{/each}}
</section>

