{{log this}}
<form autocomplete="off" class="{{cssClass}}">
  <div class="actor-flex-spalten">
    <div>{{localize "BC.Sheet.Descriptions.Name"}}</div>
    <div><input name="name" type="text" value="{{actor.data.name}}" /></div>
  </div>

  <div class="actor-flex-spalten">
    <div>{{localize "BC.Sheet.Descriptions.Callme"}}</div>
    <div><input name="data.heritage" type="text" value="{{actor.data.data.callme}}" /></div>
    <div>{{localize "BC.Sheet.Descriptions.Needme"}}</div>
  </div>

  <div>
    <div>{{localize "BC.Sheet.Descriptions.Feelathome"}}</div>
    <div class="actor-flex-spalten">
      <div>{{localize "BC.Sheet.Descriptions.Heritage"}}</div>
      <div><input name="data.heritage" type="text" value="{{actor.data.data.heritage}}" /></div>
    </div>
    <div class="actor-flex-spalten">
      <div>{{localize "BC.Sheet.Descriptions.Homeland"}}</div>
      <div><input name="data.heritage" type="text" value="{{actor.data.data.homeland}}" /></div>
    </div>
    <div class="actor-flex-spalten">
      <div>{{localize "BC.Sheet.Descriptions.Workplace"}}</div>
      <div><input name="data.heritage" type="text" value="{{actor.data.data.workplace}}" /></div>
    </div>
  </div>

  {{> "systems/brokencompass/templates/actor/dice-tray.hbs"}}

</form>
