<form autocomplete="off" class="{{cssClass}}">
  <!--  header-->
  <div class="bs__ac-column">
    <div>{{localize "BC.Sheet.Descriptions.Name"}}</div>
    <div><input name="name" type="text" value="{{actor.data.name}}" /></div>
  </div>

  <div class="bs__ac-column">
    <div>{{localize "BC.Sheet.Descriptions.Callme"}}</div>
    <div><input name="data.callme" type="text" value="{{actor.data.data.callme}}" /></div>
    <div>{{localize "BC.Sheet.Descriptions.Needme"}}</div>
  </div>

  <div>
    <div>{{localize "BC.Sheet.Descriptions.Feelathome"}}</div>
    <div class="bs__ac-column">
      <div>{{localize "BC.Sheet.Descriptions.Heritage"}}</div>
      <div><input name="data.heritage" type="text" value="{{actor.data.data.heritage}}" /></div>
    </div>
    <div class="bs__ac-column">
      <div>{{localize "BC.Sheet.Descriptions.Homeland"}}</div>
      <div><input name="data.homeland" type="text" value="{{actor.data.data.homeland}}" /></div>
    </div>
    <div class="bs__ac-column">
      <div>{{localize "BC.Sheet.Descriptions.Workplace"}}</div>
      <div><input name="data.workplace" type="text" value="{{actor.data.data.workplace}}" /></div>
    </div>
  </div>

  <hr>

  <!--  fields and skills-->
  <div>
    {{#each fields as |field|}}
      {{> "systems/brokencompass/templates/actor/partials/fields.hbs" field = field}}
    {{/each}}
  </div>

  {{> "systems/brokencompass/templates/actor/dice-tray.hbs"}}

</form>
